.heading h1{
	text-align: center;

	padding:0;
	margin: 0;
font-size: 60px;
animation-name:first;
animation-duration:2s;
animation-iteration-count: infinite;
}
.heading h4{
	text-align: center;
	padding-top: 0;
	margin-top:0;
	margin-bottom:0;
	color:red;
}
.heading h5{
	text-align: center;
	padding:2px 0 2px 0;
	margin:0;
	color:#FF0000;
}
.heading{
	background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYwC3wAsRYPGkVO_eHKjU0ikl96wvsg6jfwAvDcDwnN9LXM-oH9w");
	background-size: 100% 100%;
position: left;
 overflow:hidden;

border:1px solid hotpink;
}
@keyframes first{
	0%{
		color:white;

	}
	25%{
    color:orange;
	}
	50%{
		color:red;
	}
	75%{
		color:magenta;
	}
	100%{
		
	}
}
.nav{
	padding-top:2px;
}
.nav ul{
	padding:0;
	margin:0;
	border-radius:10px;
	background-color:#555;
	overflow:hidden;
}
.nav ul li{
	list-style: none;
float:left;
padding:0;
border:1px solid black;

}
a{
	padding:14px 16px;
	text-decoration: none;
	display:block;
	color:white;
	font-size:19px;
	font-family:sans-serif;
}
li a:hover{
	background-color:red;
	color:blue;
}
.timetable img{
	padding:0;
	margin-left:120px;
	border:2px solid black;
	
}
.timetable h1{
	text-align:center;
	text-decoration:underline solid red;

}
/*
.timetable button{
	background-color:#333;
	color:white;
	float:right;
	height:30px;
	position:fixed;
	padding-right:15px;
}
*/
.nav li a:active{
	background-color:hotpink;
	color:blue;

}
